<app-search-item (emitSearchTerm)="onSearchTerm($event)"></app-search-item>

<div class="container-fluid d-flex flex-column flex-grow-1 align-items-center px-5 mt-3">
  <div class="row flex-grow-1 w-100">
    <div class="d-flex flex-column col align-items-center">
      <ng-container *ngIf="items$ | async as items">
        <ng-container *ngIf="items.Search.length > 0; else noResultsTemplate">
          <app-display-results [items]="items.Search"></app-display-results>

          <ngb-pagination
            class="mt-5"
            (pageChange)="onPageChange($event)"
            [page]="page"
            [pageSize]="10"
            [collectionSize]="items.totalResults"
            [maxSize]="3"
            [ngClass]="{ 'd-none': items.totalResults <= pageSize }"
          >
            <ng-template let-page ngbPaginationNumber>
            <span class="page">
                {{ page }}
            </span>
            </ng-template>
          </ngb-pagination>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #noResultsTemplate>
  <p>There's no result to display</p>
</ng-template>
