$border-width: 1px;

.glassmorphism {
  border: $border-width solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
}

.shrink {
  transition: transform .3s ease;
  will-change: transform;

  &:hover {
    transform: scale(1.05);
  }
}

.cursor-pointer {
  cursor: pointer;
}
