@use 'animations' as *;

$border-width: 1px;

.glassmorphism {
  border: $border-width solid rgba(255, 255, 255, 0.3) !important;
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(15px);
}

.shrink {
  transition: transform .3s ease;
  will-change: transform;

  &:hover {
    transform: scale(1.05);
  }
}

.grid-6 {
  grid-template-columns: repeat(6, 1fr);

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 576px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid-10 {
  grid-template-columns: repeat(10, 1fr);

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 576px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cursor-pointer {
  cursor: pointer;
}

.card-cache {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to left, #f937cb, #d726d2);
  transition: 0.5s;
  z-index: 2;
}

.card-reveal {
  .card-cache {
    opacity: 0;
  }
}

.card-animation {
  animation: card-animation 1s forwards;
  will-change: transform;
}
