$primary: #ff8f16;
$secondary: #6fff16;
$tertiary: #0000a3;

/* Override BS RULES */
$pagination-bg: transparent;
$pagination-active-bg: transparent;
$pagination-disabled-bg: transparent;

$pagination-color: white;
$pagination-hover-color: $tertiary;
$pagination-active-color: $tertiary;
$pagination-disabled-color: white;

$pagination-border-width: 0;
$pagination-border-radius: 50px;
$pagination-padding-y: 1rem;
$pagination-padding-x: 1.5rem;
