<div class="container-fluid d-flex flex-column flex-grow-1 align-items-center px-5 mt-3">
  <div class="row flex-grow-1 w-100">
    <div class="d-flex flex-column col align-items-center">

      <ul class="grid-6 list-unstyled mt-5">
        <li class="item d-flex col position-relative shadow" *ngFor="let item of items">
          <div class="card border-0">
            <img class="img-fluid rounded" src="{{ item.Poster }}" alt="Movie"/>
          </div>

          <div class="remove-icon position-absolute top-0 end-0 text-white px-2 cursor-pointer"
               (click)="removeItem(item)">
            <i class="bi fs-1 bi-x"></i>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>
