<div class="container-fluid d-flex flex-column flex-grow-1 align-items-center px-5 mt-3">
  <div class="row flex-grow-1 w-100">
    <div class="d-flex flex-column col align-items-center">

      <ul class="d-flex list-unstyled mt-5">
        <li class="item d-flex col mx-1 px-0 text-center cursor-pointer" *ngFor="let item of items">
          <div class="card border-0">
            <img class="img-fluid rounded" src="{{ item.Poster }}" alt="Movie"/>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>
